/* styling cover page */
.page-container {
    height: 100%;
    background-color: #DEEBF8 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coverpage-container {
    font-family: "karla";
    background-color: white;
    width: 90%;
    height: 80%;
    color: #00509D;
    text-align: center;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* coverpage container direct children */
.title-container {
    background-color: #DEEBF8;
    height: 16.5rem;
    width: 35rem;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1-style {
    font-size: 2rem;
    font-weight: bold;
}

.h3-style {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.h2-style {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
}

#configure-title {
    padding-top: 3%;
    padding-bottom: 1%;
}


.form-container {
    width: 25rem;
}

.form-group {
    display: flex;
}

label {
    width: 100%;
    align-self: center;
    text-align: right;
    padding-right: 5%;
}

#start-quiz-button {
    margin-top: 8%;
}

.button-style {
    background-color: #00509D;
    color: white;
    border: 0;
    padding: 0.8rem 2.5rem 0.8rem 2.5rem;
    border-radius: 15px;
}

.form-control-style {
    background-color: #98B7D8 !important;
    height: 35px;
}

select {
    color: white !important;
}

input[type = "number"] {
    color: white !important;
}

#group1 {
    padding-bottom: 3%;
}

.title-container h3 {
    font-weight: normal;
    width: 55%;
}

/* Styling for Question and Answer components*/
.question-container {
    font-family: "karla";
    color: #00509D;
    width: 70%;
}

.question-container h2 {
    margin-bottom: 1rem;
}

.question-container h3 {
    margin-bottom: 1rem;
}

.answer-container {
    display: flex;
    margin-bottom: 2rem;
}

.answer-container button {
    margin-right: 1rem;
    border-radius: 8px;
    font-family: "inter";
    font-weight: 500;
    color: #293264;
    padding-left: 1rem;
    padding-right: 1rem;
    border-color: #4D5B9E;
    border-width: 1px;
}

.default {
    background-color: white;
    border-style: solid;
    border-width: 1px;
}

.selected {
    border: none;
    background-color: #DEEBF8;
}

.correct {
    border: none;
    background-color: #94D7A2;
}

.wrong {
    border: none;
    background-color: #F7D9DB;
}

hr {
    color: #DEEBF8;
    margin-bottom: 2.5rem !important;
}

/* Style Quiz page */
.quizpage-container {
    font-family: "karla";
    background-color: white;
    width: 90%;
    height: 80%;
    color: #00509D;
    border-radius: 10px;
    padding-top: 5rem;
    padding-bottom: 5rem;

    display: flex;
    flex-direction: column;
    padding-left: 10rem;
}

.questions-container {
    overflow-y: auto;
}

#submit-quiz {
    padding: 0.8rem 2.5rem 0.8rem 2.5rem !important;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.result-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}